@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Space+Grotesk:wght@400;700&display=swap');


body {
    background-color: #f0f0f0;
    background-image: radial-gradient(#000000 1px, transparent 0);
    background-size: 25px 25px;
    font-family: 'Space Grotesk', sans-serif;
    margin: 0;
    padding: 0 20px 40px 20px;
}


.main-nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;           
    
    background: white;
    padding: 8px 20px;             
    border: 2px solid #000000;
    border-radius: 12px;
    
    max-width: 1100px;
    margin: 20px auto;
    box-shadow: 5px 5px 0px #000000;
}

.logo {
    font-family: 'Archivo Black', sans-serif;
    font-size: 1.1rem;
    font-style: italic;
    text-transform: uppercase;
}

.logo span {
    background: #000000;
    color: white;
    padding: 2px 5px;
    margin-left: 2px;
}

.search-container {
    flex: 0 1 400px;
    position: relative;
    display: flex;
}

.search-container input {
    width: 100%;
    padding: 8px 15px;
    border: 2px solid #000000;
    border-radius: 8px;
    font-family: 'Space Grotesk', sans-serif;
    outline: none;
    font-weight: 700;
}

.search-container input:focus {
    border-color: #6d28d9; 
    box-shadow: 3px 3px 0px #6d28d9;
}

.search-container button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: #000000;
    font-weight: 700;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.nav-button {
    background: #ffffff; 
    color: #000000; 
    padding: 8px 20px; 
    max-height: none; 
    border: 3px solid #000000;
    border-radius: 4px;
    box-shadow: 4px 4px 0px #000000;
    font-family: 'Archivo Black', sans-serif;
    font-size: 1.1rem; 
    font-style: italic;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}
.nav-button:hover {
    background: #6d28d9;
    color: white;
    transform: scale(1.05);
}

h1, h2 {
    font-family: 'Archivo Black', sans-serif;
    text-transform: uppercase;
    font-style: italic;
    text-shadow: 3px 3px 0px #fff, 6px 6px 0px #000000;
}

h2 { color: #6d28d9; margin-top: -10px; margin-bottom: 40px; }

section {
    background: white;
    border: 4px solid #000000;
    margin-bottom: 40px;
    padding: 25px;
    box-shadow: 12px 12px 0px #000000;
    transition: 0.2s;
}

section:hover {
    transform: translate(-5px, -5px);
}

.jjk { border-color: #6d28d9; }
.jjk li:first-child { 
    color: #6d28d9; 
}
.jjk:hover { 
    box-shadow: 17px 17px 0px #6d28d9; 
}

.chia { 
    border-color: #22c55e; 
}
.chia li:first-child { 
    color: #22c55e; 
}
.chia:hover { 
    box-shadow: 17px 17px 0px #22c55e; 
}
.hp { 
    border-color: #dc2626; 
}
.hp li:first-child { 
    color: #dc2626; 
}
.hp:hover { 
    box-shadow: 17px 17px 0px #dc2626; 
}

ul { 
    list-style: none; padding: 0; 
    display: flex;
    flex-direction: column;
    gap: 12px;
}

li:first-child {
    font-family: 'Archivo Black', sans-serif;
    font-size: 1.8rem;
    text-transform: uppercase;
    border-bottom: 4px solid #000000;
    display: inline-block;
    margin-bottom: 20px;
}

li strong {
    background: #000000;
    color: white;
    padding: 2px 8px;
    margin-right: 5px;
    text-transform: uppercase;
    font-size: 0.8rem;
}

li:last-child {
    margin-top: 20px;
    padding: 15px;
    background: #f9f9f9;
    border-left: 8px solid #000000;
    font-style: italic;
}